apiVersion: skaffold/v2beta7
kind: Config
build:
  tagPolicy:
    envTemplate:
      template: '{{.VERSION}}'
  artifacts:
  - image: ${DOCKER_REGISTRY}/${ORG}/${APP_NAME}
    context: .
    kaniko:
      buildArgs:
        BUILD_TAG: "${BUILD_TAG}"
        SCM_REF: "${SCM_REF}"
        VERSION: "${VERSION}"
        PLATFORM_VERSION: "${PLATFORM_VERSION}"
        CLID: "${CLID}"
        NUXEO_PACKAGES: "${NUXEO_PACKAGES}"
      cache:
        repo: ${DOCKER_REGISTRY}/${ORG}/cache
  cluster:
    namespace: ai
    pullSecretName: kaniko-secret
    dockerConfig:
      secretName: jenkins-docker-cfg
    timeout: 180m
    tolerations:
    - key: team
      operator: "Equal"
      value: ai
      effect: "NoSchedule"
      tolerationseconds: null
